


<div class="row ">
    
    
    <div class="col-md-12">
       <form [formGroup]="validationForm" nz-form class="centered-form">
    <input mat-input placeholder="Enter Keyword to search" nzSize="large" class="search-input" formControlName="name"/>
    <button mat-button="primary" class="search-button" (click)="searchCategory()" [disabled]="validationForm.invalid">Search</button> 
</form>
        <div class="card text-center">
            <div class="col-md-12">
            
       
            </div>
            <table class="table">
                <thead>
                    <tr>
                       
                        <th>Category Name</th>
                        <th>Description</th>
                       
                     
                    </tr>
                </thead>
                
                <tbody>
                  
                    <tr *ngFor="let category of listCategories">
                       
                        <td>{{category.name}}</td>
                        <td>{{category.description}}</td>
                        <td>
                           
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>