
<form #f="ngForm" (ngSubmit)="modif(f)">
<div class="container" >
  <div class="row gutters">
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="row gutters">

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="username">Usernamne</label>
                <input type="text" class="form-control" id="username"  [(ngModel)]="OneUser.username" name="username" #username="ngModel" ngModel />
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email"   [(ngModel)]="OneUser.email" name="email"  #email="ngModel"  ngModel />
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="mp">Mot de passe </label>
                <input type="password" class="form-control" id="password"  name="password" #password="ngModel" ngModel />
              </div>
            </div>
          </div>

          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="text-right">
                <button
                type="submit"
                  id="submit"
                  name="submit"
                  class="btn btn-primary"
                  [disabled]="f.invalid"
                >
                  Edit
                </button>
                <button
                  type="button"
                  id="submit"
                  name="submit"
                  class="btn btn-secondary"
                  (click)="retour()"
                >
                  Retour
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
