<h2>Update Category</h2>

<form [formGroup]="updateForm" (ngSubmit)="updateChef(chef.id)">
  <div class="form-group">
    <label for="nomPrenom">Full Name</label>
    <input type="text" class="form-control" id="nomPrenom" formControlName="nomPrenom" required>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" formControlName="description" required></textarea>
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <textarea class="form-control" id="image" formControlName="image" required></textarea>
  </div>
  <div class="form-group">
    <label for="facebook">Facebook</label>
    <textarea class="form-control" id="facebook" formControlName="facebook" required></textarea>
  </div>
  <div class="form-group">
    <label for="instagram">Instagram</label>
    <textarea class="form-control" id="instagram" formControlName="instagram" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
